@model GameLibrary.Models.ShoppingCart

@{
    ViewData["Title"] = "Delete";
}

<h1 style="font-family:Montserrat;">Delete</h1>

<h3 style="font-family:Montserrat;">Are you sure you want to delete this?</h3>
<div>
    <h4 style="font-family:Montserrat;">ShoppingCart</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShoppingCartId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
