@model GameLibrary.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family:Montserrat;">Details</h1>

<div>
    <h4 style="font-family:Montserrat;">ShoppingCart</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShoppingCartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
